﻿@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>
<div class="container body-content">
    <div class="alert alert-warning" role="alert">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>This action only disables 2FA.</strong>
        </p>
        <p>
            Disabling 2FA does not change the keys used in authenticator apps. If you wish to change the key
            used in an authenticator app you should <a asp-action="ResetAuthenticatorWarning">
                reset your
                authenticator keys.
            </a>
        </p>
    </div>

    <div>
        <form asp-action="Disable2fa" method="post" class="form-group">
            <button class="btn btn-danger" type="submit">Disable 2FA</button>
        </form>
    </div>
</div>