﻿
<form asp-area="" asp-controller="Parcel" asp-action="GetParcelHistory" method="post" id="trackParcelForm">       
    <div class="row">
        <div class="col-md-4">
            Enter Your P2G Reference Number:
        </div>
        <div class="col-md-4">
            <input id="trackNumber" name="trackNumber" class="form-control g-theme-color-gray-light-v10 g-placeholder-inherit g-brd-gray-light-v5 g-bg-gray-light-v5 g-bg-gray-light-v5--focus g-px-10 g-py-12" type="text" placeholder="e.g. P2G123456789">
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i> Track This Parcel
            </button>
        </div>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="parcelHistoryDialog" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      
    </div>
</div>