﻿@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = localizer["Home Page"];
}

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700%2C800%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="vendor/icon-line/css/simple-line-icons.css">
<link rel="stylesheet" href="vendor/icon-line-pro/style.css">

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="vendor/icon-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="vendor/icon-hs/style.css">
<link rel="stylesheet" href="vendor/hamburgers/hamburgers.min.css">
<link rel="stylesheet" href="vendor/chosen/chosen.css">
<link rel="stylesheet" href="vendor/slick-carousel/slick/slick.css">
<link rel="stylesheet" href="vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
<link rel="stylesheet" href="~/css/pluggins/magicSuggest/magicsuggest.css">

<!-- CSS Template -->
<link rel="stylesheet" href="css/styles.op-shipping.css">

<!-- CSS Customization -->
<link rel="stylesheet" href="css/custom.css">
<main class="g-pt-130 g-pt-140--md g-pt-170--lg">
    <!-- Header -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance"
            data-header-fix-moment="200"
            data-header-fix-effect="slide">
        <div class="text-center text-lg-left u-header__section u-header__section--hidden u-header__section--light g-bg-white g-brd-bottom g-brd-gray-light-v4 g-py-20">
            <div class="row flex-lg-row align-items-center justify-content-lg-start">
                <div class="col-md-3 col-sm-12 col-lg-2">
                    <!-- Logo -->
                    <a href="#" class="navbar-brand">
                        <img class="img-fluid g-width-150" src="css/shipping/img/logo.png" alt="Logo">
                    </a>
                    <!-- End Logo -->
                </div>
                <div class="col-md-6 col-sm-12 col-lg-8">

                </div>
                <div class="col-md-3 col-sm-12 col-lg-2">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-inline mb-0 g-pa-10--lg">
                                <li class="list-inline-item g-valign-middle g-mx-3">
                                    <a class="d-block u-icon-v3 u-icon-size--sm g-rounded-50x g-bg-gray-light-v4 g-color-gray-light-v1 g-bg-primary--hover g-color-white--hover" href="#"><i class="fa fa-facebook g-font-size-default"></i></a>
                                </li>
                                <li class="list-inline-item g-valign-middle g-mx-3">
                                    <a class="d-block u-icon-v3 u-icon-size--sm g-rounded-50x g-bg-gray-light-v4 g-color-gray-light-v1 g-bg-primary--hover g-color-white--hover" href="#"><i class="fa fa-twitter g-font-size-default"></i></a>
                                </li>
                                <li class="list-inline-item g-valign-middle g-mx-3">
                                    <a class="d-block u-icon-v3 u-icon-size--sm g-rounded-50x g-bg-gray-light-v4 g-color-gray-light-v1 g-bg-primary--hover g-color-white--hover" href="#"><i class="fa fa-instagram g-font-size-default"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)!</a>
                                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                            </form>
                        }
                        else
                        {
                            <div style="margin-right: 5px; margin-left: 30px;">
                                <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </div>
                                <div>
                                    |
                                </div>
                                <div style="margin-left: 5px;">
                                    <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                                </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="u-header__section u-header__section--dark g-bg-gray-dark-v1 g-py-15"
             data-header-fix-moment-classes="u-shadow-v18">
            <nav class="navbar navbar-expand-lg py-0">
                <div class="container">
                    <!-- Navigation -->
                    <div class="collapse navbar-collapse align-items-center flex-sm-row g-mr-40--sm" id="navBar">
                        <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-py-10--md mr-auto">
                            <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg active">
                                <a href="#home" class="nav-link g-color-primary--hover p-0">@localizer["Home"] <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                <a href="#about" class="nav-link g-color-primary--hover p-0">@localizer["About"]</a>
                            </li>
                            <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                <a href="#services" class="nav-link g-color-primary--hover p-0">@localizer["Services"]</a>
                            </li>
                            <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                <a href="#skills" class="nav-link g-color-primary--hover p-0">@localizer["Skills"]</a>
                            </li>
                            <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                <a href="#offers" class="nav-link g-color-primary--hover p-0">@localizer["Offers"]</a>
                            </li>
                            @*<li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="#gallery" class="nav-link g-color-primary--hover p-0">Gallery</a>
                                </li>*@
                            <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                <a href="#FAQ" class="nav-link g-color-primary--hover p-0">@localizer["FAQ"]</a>
                            </li>
                            @*<li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="#testimonials" class="nav-link g-color-primary--hover p-0">Testimonials</a>
                                </li>*@
                            <li class="nav-item g-ml-15--lg">
                                <a href="#contact" class="nav-link g-color-primary--hover p-0">@localizer["Contact"]</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Navigation -->
                    <!-- Search -->
                    @*<div class="g-hidden-md-down text-uppercase g-valign-middle">
                            <a href="#" class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-brd-none g-rounded-4 g-py-12 g-px-15">Get a Quote</a>
                        </div>*@
                    <!-- End Search -->
                    <!-- Responsive Toggle Button -->
                    <button class="navbar-toggler btn g-pos-rel g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-minus-8 g-right-0" type="button"
                            aria-label="Toggle navigation"
                            aria-expanded="false"
                            aria-controls="navBar"
                            data-toggle="collapse"
                            data-target="#navBar">
                        <span class="hamburger hamburger--slider">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                </div>
            </nav>
        </div>
    </header>







    <!-- Section Content -->
    <section id="home" class="u-bg-overlay g-height-100vh g-bg-img-hero g-bg-black-opacity-0_3--after g-py-20" style="background-image: url(css/shipping/img-temp/1732x1155/img1.jpg);">
        <div class="u-bg-overlay__inner g-absolute-centered--y w-100">
            <div class="container g-z-index-1 g-py-100">
                <div class="row">
                    <div class="col-md-6 col-lg-5 pull-right">
                        <div class="g-bg-white g-rounded-5 g-pa-15 g-pa-30--md">
                            <h3 class="h6 g-color-black g-font-weight-600 text-uppercase text-center g-mb-25">@localizer["CalculateShippingCost"]</h3>
                            <!-- Promo Block - Form -->
                            <form>
                                <div class="form-group g-mb-10 g-mb-20--md">
                                    <input id="shipingFrom" class="form-control g-theme-color-gray-light-v10 g-placeholder-inherit g-brd-gray-light-v5 g-bg-gray-light-v5 g-bg-gray-light-v5--focus g-px-10 g-py-12" type="text" placeholder="@localizer["StartLocation"]">
                                </div>
                                <div class="form-group g-mb-10 g-mb-20--md">
                                    <input id="shipingTo" class="form-control g-theme-color-gray-light-v10 g-placeholder-inherit g-brd-gray-light-v5 g-bg-gray-light-v5 g-bg-gray-light-v5--focus g-px-10 g-py-12" type="text" placeholder="@localizer["EndLocation"]">
                                </div>
                                <div class="form-group g-mb-10 g-mb-20--md">
                                    <select class="js-custom-select u-select-v1 g-theme-color-gray-light-v10 g-brd-gray-light-v5 g-bg-gray-light-v5 g-rounded-4 g-pa-10" style="width: 100%;"
                                            data-placeholder="Cargo Type"
                                            data-control-classes="g-color-gray-dark-v2 g-bg-gray-light-v5"
                                            data-disable-search="true"
                                            data-open-icon="fa fa-sort"
                                            data-close-icon="fa fa-sort">
                                        <option></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group g-mb-10 g-mb-20--md">
                                            <input class="form-control g-theme-color-gray-light-v10 g-placeholder-inherit g-brd-gray-light-v5 g-bg-gray-light-v5 g-bg-gray-light-v5--focus g-px-10 g-py-12" type="text" placeholder="@localizer["Height"]">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group g-mb-10 g-mb-20--md">
                                            <input class="form-control g-theme-color-gray-light-v10 g-placeholder-inherit g-brd-gray-light-v5 g-bg-gray-light-v5 g-bg-gray-light-v5--focus g-px-10 g-py-12" type="text" placeholder="@localizer["Width"]">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group g-mb-10 g-mb-20--md">
                                            <input class="form-control g-theme-color-gray-light-v10 g-placeholder-inherit g-brd-gray-light-v5 g-bg-gray-light-v5 g-bg-gray-light-v5--focus g-px-10 g-py-12" type="text" placeholder="@localizer["Length"]">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group g-mb-10 g-mb-20--md">
                                            <input class="form-control g-brd-gray-light-v5 g-bg-gray-light-v5 g-bg-gray-light-v5--focus g-px-10 g-py-12" type="text" placeholder="@localizer["Name"]">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group g-mb-10 g-mb-20--md">
                                            <input class="form-control g-theme-color-gray-light-v10 g-placeholder-inherit g-brd-gray-light-v5 g-bg-gray-light-v5 g-bg-gray-light-v5--focus g-px-10 g-py-12" type="email" placeholder="@localizer["Email"]">
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-md btn-block text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-brd-none g-rounded-4 g-es-py-12 g-px-15" type="submit">@localizer["Calculate"]</button>
                            </form>
                            <!-- End Promo Block - Form -->
                        </div>
                    </div>
                    <!-- Promo Block - Info -->
                    <div class="col-md-6 col-lg-7 g-hidden-sm-down align-self-center g-color-white">
                        <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-40 g-font-size-56--md g-color-white g-mb-30">
                            @localizer["Planning"]
                            <br>&amp; @localizer["Shiping"]
                        </h2>
                        <h3 class="text-uppercase g-font-weight-700 g-font-size-18 g-color-white g-mb-20">@localizer["DeliverAnythingToAnywhere"]</h3>
                        <p class="g-font-size-default g-color-white-opacity-0_8 g-mb-35">@localizer["DeliverAnythingToAnywhereContext"]</p>
                        <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-brd-none g-rounded-4 g-py-12 g-px-25" href="#">@localizer["LearnMore"]</a>
                    </div>

                    <!-- End Promo Block - Info -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Content -->
    <div id="about">
        <!-- Section Content -->
        <section class="g-py-50">
            <div class="container text-center text-md-left g-max-width-960">
                <div class="row justify-content-md-around">
                    <div class="col-md-8 align-self-md-center">
                        <h2 class="text-uppercase g-line-height-1_1 g-font-weight-700 g-font-size-32">
                            @localizer["OrderNowAndGet"]
                            <span class="g-color-primary">@localizer["TwentyPerCentOff"]</span>
                        </h2>
                        <p class="g-mb-20 g-mb-0--md">@localizer["OrderNowAndGetContent"]</p>
                    </div>
                    <div class="col-md-4 align-self-md-center text-md-center">
                        <a class="btn btn-md text-uppercase u-btn-darkgray g-font-weight-700 g-font-size-12 g-brd-none g-rounded-4 g-py-15 g-px-15 g-px-35--md" href="#">@localizer["CalculateAndOrder"]</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Section Content -->
        <!-- Section Content -->
        <section>
            <div class="row no-gutters">
                <div class="col-md-4 g-brd-around g-brd-top-none g-brd-gray-light-v4">
                    <!-- Article -->
                    <article class="u-block-hover">
                        <figure class="u-bg-overlay g-bg-black-opacity-0_4--after g-overflow-hidden g-ml-minus-1--md g-mr-minus-1--md">
                            <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="css/shipping/img-temp/600x400/img1.jpg" alt="Image description">
                        </figure>
                        <div class="text-center g-pa-40">
                            <h3 class="text-uppercase g-font-weight-700 g-font-size-22 g-mb-15">
                                <a class="g-color-gray-dark-v2 g-text-underline--none--hover" href="#">@localizer["Cargo"]</a>
                            </h3>
                            <p>@localizer["CargoContent"]</p>
                            <a class="text-uppercase g-font-weight-600 g-font-size-12" href="#">@localizer["LearnMore"]</a>
                        </div>
                    </article>
                    <!-- End Article -->
                </div>
                <div class="col-md-4 g-brd-around g-brd-top-none g-brd-gray-light-v4 g-ml-minus-1--md g-mr-minus-1--md">
                    <!-- Article -->
                    <article class="u-block-hover">
                        <figure class="u-bg-overlay g-bg-black-opacity-0_4--after g-overflow-hidden g-ml-minus-1--md g-mr-minus-1--md">
                            <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="css/shipping/img-temp/600x400/img2.jpg" alt="Image description">
                        </figure>
                        <div class="text-center g-pa-40">
                            <h3 class="text-uppercase g-font-weight-700 g-font-size-22 g-mb-15">
                                <a class="g-color-gray-dark-v2 g-text-underline--none--hover" href="#">@localizer["LogisticServices"]</a>
                            </h3>
                            <p>@localizer["LogisticServicesContent"]</p>
                            <a class="text-uppercase g-font-weight-600 g-font-size-12" href="#">@localizer["LearnMore"]</a>
                        </div>
                    </article>
                    <!-- End Article -->
                </div>
                <div class="col-md-4 g-brd-around g-brd-top-none g-brd-gray-light-v4">
                    <!-- Article -->
                    <article class="u-block-hover">
                        <figure class="u-bg-overlay g-bg-black-opacity-0_4--after g-overflow-hidden g-ml-minus-1--md g-mr-minus-1--md">
                            <img class="img-fluid w-100 u-block-hover__main--zoom-v1" src="css/shipping/img-temp/600x400/img3.jpg" alt="Image description">
                        </figure>
                        <div class="text-center g-pa-40">
                            <h3 class="text-uppercase g-font-weight-700 g-font-size-22 g-mb-15">
                                <a class="g-color-gray-dark-v2 g-text-underline--none--hover" href="#">@localizer["Storage"]</a>
                            </h3>
                            <p>@localizer["StorageContent"]</p>
                            <a class="text-uppercase g-font-weight-600 g-font-size-12" href="#">@localizer["LearnMore"]</a>
                        </div>
                    </article>
                    <!-- End Article -->
                </div>
            </div>
        </section>
        <!-- End Section Content -->
        <!-- Section Content -->
        <section class="g-pt-100">
            <div class="container g-width-760 g-mb-70">
                <div class="text-center mx-auto u-heading-v2-2--bottom g-brd-primary g-mb-30">
                    <h2 class="text-uppercase g-font-weight-700 g-font-size-26 g-mb-15">@localizer["TypesOfShiping"]</h2>
                    <p class="mb-0">@localizer["TypesOfShipingContent"]</p>
                </div>
            </div>
            <div class="container-fluid px-0">
                <!-- Banners -->
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-3">
                        <!-- Article -->
                        <article class="h-100 text-center info-v3-3 g-parent g-bg-gray-light-v5 g-bg-cover g-bg-primary-opacity-0_6--after g-color-gray-dark-v3 g-color-white--hover g-py-30">
                            <!-- Article Image -->
                            <img class="info-v3-3__img" src="css/shipping/img-temp/objects/img1.png" alt="Image description">
                            <!-- End Article Image -->
                            <!-- Article Content -->
                            <div class="info-v3-3__description g-pos-cover g-flex-middle">
                                <div class="g-flex-middle-item g-pa-30">
                                    <h4 class="h3 text-uppercase g-line-height-1 g-font-weight-700 g-mb-20">
                                        <a class="info-v3-3__title g-color-gray-dark-v2 g-color-white--parent-hover g-text-underline--none--hover g-transition-0_3" href="#">
                                            <strong class="d-block">@localizer["Small"]</strong>
                                            <span class="g-font-weight-400">@localizer["Objects"]</span>
                                        </a>
                                    </h4>
                                    <em class="info-v3-3__category g-font-style-normal g-font-size-11 text-uppercase">@localizer["ShipingAndPackage"]</em>
                                    <div class="info-v3-3__content g-opacity-0_7">
                                        <p class="g-color-white--parent-hover mb-0">@localizer["ShipingAndPackageContent"]</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Article Content -->
                        </article>
                        <!-- End Article -->
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <!-- Article -->
                        <article class="h-100 text-center info-v3-3 g-parent g-bg-gray-light-v5 g-bg-cover g-bg-primary-opacity-0_6--after g-color-gray-dark-v3 g-color-white--hover g-py-30">
                            <!-- Article Image -->
                            <img class="info-v3-3__img" src="css/shipping/img-temp/objects/img2.png" alt="Image description">
                            <!-- End Article Image -->
                            <!-- Article Content -->
                            <div class="info-v3-3__description g-pos-cover g-flex-middle">
                                <div class="g-flex-middle-item g-pa-30">
                                    <h4 class="h3 text-uppercase g-line-height-1 g-font-weight-700 g-mb-20">
                                        <a class="info-v3-3__title g-color-gray-dark-v2 g-color-white--parent-hover g-text-underline--none--hover g-transition-0_3" href="#">
                                            <strong class="d-block">@localizer["Medium"]</strong>
                                            <span class="g-font-weight-400">@localizer["Objects"]</span>
                                        </a>
                                    </h4>
                                    <em class="info-v3-3__category g-font-style-normal g-font-size-11 text-uppercase">@localizer["ShipingAndPackage"]</em>
                                    <div class="info-v3-3__content g-opacity-0_7">
                                        <p class="g-color-white--parent-hover mb-0">@localizer["ShipingAndPackageContentMedium"]</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Article Content -->
                        </article>
                        <!-- End Article -->
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <!-- Article -->
                        <article class="h-100 text-center info-v3-3 g-parent g-bg-gray-light-v5 g-bg-cover g-bg-primary-opacity-0_6--after g-color-gray-dark-v3 g-color-white--hover g-py-30">
                            <!-- Article Image -->
                            <img class="info-v3-3__img" src="css/shipping/img-temp/objects/img3.png" alt="Image description">
                            <!-- End Article Image -->
                            <!-- Article Content -->
                            <div class="info-v3-3__description g-pos-cover g-flex-middle">
                                <div class="g-flex-middle-item g-pa-30">
                                    <h4 class="h3 text-uppercase g-line-height-1 g-font-weight-700 g-mb-20">
                                        <a class="info-v3-3__title g-color-gray-dark-v2 g-color-white--parent-hover g-text-underline--none--hover g-transition-0_3" href="#">
                                            <strong class="d-block">@localizer["Large"]</strong>
                                            <span class="g-font-weight-400">@localizer["Objects"]</span>
                                        </a>
                                    </h4>
                                    <em class="info-v3-3__category g-font-style-normal g-font-size-11 text-uppercase">@localizer["ShipingAndPackage"]</em>
                                    <div class="info-v3-3__content g-opacity-0_7">
                                        <p class="g-color-white--parent-hover mb-0">@localizer["ShipingAndPackageContentLarge"]</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Article Content -->
                        </article>
                        <!-- End Article -->
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <!-- Article -->
                        <article class="h-100 text-center info-v3-3 g-parent g-bg-gray-light-v5 g-bg-cover g-bg-primary-opacity-0_6--after g-color-gray-dark-v3 g-color-white--hover g-py-30">
                            <!-- Article Image -->
                            <img class="info-v3-3__img" src="css/shipping/img-temp/objects/img4.png" alt="Image description">
                            <!-- End Article Image -->
                            <!-- Article Content -->
                            <div class="info-v3-3__description g-pos-cover g-flex-middle">
                                <div class="g-flex-middle-item g-pa-30">
                                    <h4 class="h3 text-uppercase g-line-height-1 g-font-weight-700 g-mb-20">
                                        <a class="info-v3-3__title g-color-gray-dark-v2 g-color-white--parent-hover g-text-underline--none--hover g-transition-0_3" href="#">
                                            <strong class="d-block">@localizer["ExtraLarge"]</strong>
                                            <span class="g-font-weight-400">@localizer["Objects"]</span>
                                        </a>
                                    </h4>
                                    <em class="info-v3-3__category g-font-style-normal g-font-size-11 text-uppercase">@localizer["ShipingAndPackage"]</em>
                                    <div class="info-v3-3__content g-opacity-0_7">
                                        <p class="g-color-white--parent-hover mb-0">@localizer["ShipingAndPackageContentExtraLarge"].</p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Article Content -->
                        </article>
                        <!-- End Article -->
                    </div>
                </div>
                <!-- End Banners -->
            </div>
        </section>
        <!-- End Section Content -->
    </div>
    <!-- Section Content -->
    <section id="services" class="u-bg-overlay g-bg-img-hero g-bg-black-opacity-0_6--after g-py-85" style="background-image: url(css/shipping/img-temp/1732x1155/img2.jpg);">
        <div class="container u-bg-overlay__inner g-width-760">
            <div class="text-center mx-auto u-heading-v2-2--bottom g-brd-primary g-mb-70">
                <h2 class="text-uppercase g-line-height-1_1 g-font-weight-700 g-font-size-26 g-color-white g-mb-15">@localizer["TourServices"]</h2>
                <p class="g-color-white-opacity-0_8 mb-0">@localizer["TourServicesContent"]</p>
            </div>
        </div>
        <div class="container u-bg-overlay__inner">
            <!-- Icon Blocks -->
            <div class="row">
                <div class="col-md-4 g-mb-80">
                    <!-- Icon Blocks -->
                    <div class="u-info-v2-2 h-100 g-color-white text-center">
                        <div class="u-info-v2-2__item h-100 g-brd-around g-brd-top-none g-brd-white-opacity-0_2 g-px-20 g-pb-30">
                            <span class="u-icon-v1 u-icon-size--2xl g-line-height-1 g-color-white g-pull-50x-up">
                                <i class="icon-transport-026 u-line-icon-pro"></i>
                            </span>
                            <h3 class="h6 text-uppercase g-font-weight-700 g-color-white g-mt-minus-35 g-mb-15">@localizer["InternationalShiping"]</h3>
                            <p class="g-color-white-opacity-0_8 mb-0">@localizer["InternationalShipingContent"]</p>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-md-4 g-mb-80">
                    <!-- Icon Blocks -->
                    <div class="u-info-v2-2 h-100 g-color-white text-center">
                        <div class="u-info-v2-2__item h-100 g-brd-around g-brd-top-none g-brd-white-opacity-0_2 g-px-20 g-pb-30">
                            <span class="u-icon-v1 u-icon-size--2xl g-line-height-1 g-color-white g-pull-50x-up">
                                <i class="icon-christmas-090 u-line-icon-pro"></i>
                            </span>
                            <h3 class="h6 text-uppercase g-font-weight-700 g-color-white g-mt-minus-35 g-mb-15">@localizer["Packaging"]</h3>
                            <p class="g-color-white-opacity-0_8 mb-0">@localizer["PackagingContent"]</p>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-md-4 g-mb-80">
                    <!-- Icon Blocks -->
                    <div class="u-info-v2-2 h-100 g-color-white text-center">
                        <div class="u-info-v2-2__item h-100 g-brd-around g-brd-top-none g-brd-white-opacity-0_2 g-px-20 g-pb-30">
                            <span class="u-icon-v1 u-icon-size--2xl g-line-height-1 g-color-white g-pull-50x-up">
                                <i class="icon-travel-044 u-line-icon-pro"></i>
                            </span>
                            <h3 class="h6 text-uppercase g-font-weight-700 g-color-white g-mt-minus-35 g-mb-15">@localizer["CompetitiveRates"]</h3>
                            <p class="g-color-white-opacity-0_8 mb-0">@localizer["CompetitiveRatesContent"]</p>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-md-4 g-mb-80 g-mb-0--md">
                    <!-- Icon Blocks -->
                    <div class="u-info-v2-2 h-100 g-color-white text-center">
                        <div class="u-info-v2-2__item h-100 g-brd-around g-brd-top-none g-brd-white-opacity-0_2 g-px-20 g-pb-30">
                            <span class="u-icon-v1 u-icon-size--2xl g-line-height-1 g-color-white g-pull-50x-up">
                                <i class="icon-hotel-restaurant-249 u-line-icon-pro"></i>
                            </span>
                            <h3 class="h6 text-uppercase g-font-weight-700 g-color-white g-mt-minus-35 g-mb-15">@localizer["QuickShiping"]</h3>
                            <p class="g-color-white-opacity-0_8 mb-0">@localizer["QuickShipingContent"]</p>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-md-4 g-mb-80 g-mb-0--md">
                    <!-- Icon Blocks -->
                    <div class="u-info-v2-2 h-100 g-color-white text-center">
                        <div class="u-info-v2-2__item h-100 g-brd-around g-brd-top-none g-brd-white-opacity-0_2 g-px-20 g-pb-30">
                            <span class="u-icon-v1 u-icon-size--2xl g-line-height-1 g-color-white g-pull-50x-up">
                                <i class="icon-hotel-restaurant-211 u-line-icon-pro"></i>
                            </span>
                            <h3 class="h6 text-uppercase g-font-weight-700 g-color-white g-mt-minus-35 g-mb-15">@localizer["QualityProtection"]</h3>
                            <p class="g-color-white-opacity-0_8 mb-0">@localizer["QualityProtectionContent"]</p>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-md-4">
                    <!-- Icon Blocks -->
                    <div class="u-info-v2-2 h-100 g-color-white text-center">
                        <div class="u-info-v2-2__item h-100 g-brd-around g-brd-top-none g-brd-white-opacity-0_2 g-px-20 g-pb-30">
                            <span class="u-icon-v1 u-icon-size--2xl g-line-height-1 g-color-white g-pull-50x-up">
                                <i class="icon-hotel-restaurant-234 u-line-icon-pro"></i>
                            </span>
                            <h3 class="h6 text-uppercase g-font-weight-700 g-color-white g-mt-minus-35 g-mb-15">@localizer["ShipingAnywhere"]</h3>
                            <p class="g-color-white-opacity-0_8 mb-0">@localizer["ShipingAnywhereContent"]</p>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
            </div>
            <!-- End Icon Blocks -->
        </div>
    </section>
    <!-- End Section Content -->
    <!-- Section Content -->
    <section id="skills">
        <div class="g-py-85">
            <div class="container text-center g-width-760 u-heading-v2-2--bottom g-brd-primary g-mb-40">
                <h2 class="text-uppercase g-line-height-1_1 g-font-weight-700 g-font-size-26 g-mb-15">@localizer["OurSkills"]</h2>
                <p class="mb-0">@localizer["OurSkillsContent"]</p>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Counter Pie Chart -->
                    <div class="col-md-6 col-lg-3 text-center g-mb-50 g-mb-0--lg">
                        <div class="js-pie g-font-weight-600 g-mb-35"
                             data-circles-value="84"
                             data-circles-max-value="100"
                             data-circles-bg-color="#f8f8f8"
                             data-circles-fg-color="#f00"
                             data-circles-radius="80"
                             data-circles-stroke-width="10"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="20"
                             data-circles-color="#000">
                        </div>
                        <h4 class="h6 text-uppercase g-font-weight-600 g-mb-15">@localizer["HappyClient"]</h4>
                        <p class="mb-0">@localizer["HappyClientContent"]</p>
                    </div>
                    <!-- End Counter Pie Chart -->
                    <!-- Counter Pie Chart -->
                    <div class="col-md-6 col-lg-3 text-center g-mb-50 g-mb-0--lg">
                        <div class="js-pie g-font-weight-600 g-mb-35"
                             data-circles-value="34"
                             data-circles-max-value="100"
                             data-circles-bg-color="#f8f8f8"
                             data-circles-fg-color="#f00"
                             data-circles-radius="80"
                             data-circles-stroke-width="10"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="20"
                             data-circles-color="#000">
                        </div>
                        <h4 class="h6 text-uppercase g-font-weight-600 g-mb-15">@localizer["CompletedProjects"]</h4>
                        <p class="mb-0">@localizer["CompletedProjectsContent"]</p>
                    </div>
                    <!-- End Counter Pie Chart -->
                    <!-- Counter Pie Chart -->
                    <div class="col-md-6 col-lg-3 text-center g-mb-50 g-mb-0--md">
                        <div class="js-pie g-font-weight-600 g-mb-35"
                             data-circles-value="35"
                             data-circles-max-value="100"
                             data-circles-bg-color="#f8f8f8"
                             data-circles-fg-color="#f00"
                             data-circles-radius="80"
                             data-circles-stroke-width="10"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="20"
                             data-circles-color="#000">
                        </div>
                        <h4 class="h6 text-uppercase g-font-weight-600 g-mb-15">@localizer["OurTeam"]</h4>
                        <p class="mb-0">@localizer["OurTeamContent"]</p>
                    </div>
                    <!-- End Counter Pie Chart -->
                    <!-- Counter Pie Chart -->
                    <div class="col-md-6 col-lg-3 text-center">
                        <div class="js-pie g-font-weight-600 g-mb-35"
                             data-circles-value="67"
                             data-circles-max-value="100"
                             data-circles-bg-color="#f8f8f8"
                             data-circles-fg-color="#f00"
                             data-circles-radius="80"
                             data-circles-stroke-width="10"
                             data-circles-duration="2000"
                             data-circles-scroll-animate="true"
                             data-circles-font-size="20"
                             data-circles-color="#000">
                        </div>
                        <h4 class="h6 text-uppercase g-font-weight-600 g-mb-15">@localizer["Countries"]</h4>
                        <p class="mb-0">@localizer["CountriesContent"]</p>
                    </div>
                    <!-- End Counter Pie Chart -->
                </div>
            </div>
        </div>
        <div class="container-fluid px-0">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <div class="g-bg-img-hero g-min-height-360 h-100" style="background-image: url(css/shipping/img-temp/600x985/img1.jpg);"></div>
                </div>
                <div class="col-md-8">
                    <div class="g-theme-bg-gray-light-v1 g-py-70 g-px-35">
                        <h2 class="text-uppercase g-font-weight-700 g-font-size-26 g-mb-15">@localizer["PackingFragileItems"]</h2>
                        <p class="g-mb-30">@localizer["PackingFragileItems"]</p>
                        <p class="mb-0">@localizer["PackingFragileItems"]</p>
                    </div>
                    <div class="g-py-55 g-px-35">
                        <div class="row">
                            <div class="col-lg-6 g-mb-30">
                                <div class="media">
                                    <div class="d-flex mr-4">
                                        <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">@localizer["FragileItemPolicyOne"]</span>
                                    </div>
                                    <div class="media-body">
                                        <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">@localizer["FragileItemPolicyOneTitle"]</h3>
                                        <p class="mb-0">@localizer["FragileItemPolicyOneContent"]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 g-mb-30">
                                <div class="media">
                                    <div class="d-flex mr-4">
                                        <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">@localizer["FragileItemPolicyTwo"]</span>
                                    </div>
                                    <div class="media-body">
                                        <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">@localizer["FragileItemPolicyTwoTitle"]</h3>
                                        <p class="mb-0">@localizer["FragileItemPolicyTwoContent"]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 g-mb-30">
                                <div class="media">
                                    <div class="d-flex mr-4">
                                        <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">@localizer["FragileItemPolicyThree"]</span>
                                    </div>
                                    <div class="media-body">
                                        <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">@localizer["FragileItemPolicyThreeTitle"]</h3>
                                        <p class="mb-0">@localizer["FragileItemPolicyThreeContent"]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 g-mb-30">
                                <div class="media">
                                    <div class="d-flex mr-4">
                                        <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">@localizer["FragileItemPolicyFour"]</span>
                                    </div>
                                    <div class="media-body">
                                        <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">@localizer["FragileItemPolicyFourTitle"]</h3>
                                        <p class="mb-0">@localizer["FragileItemPolicyFourContent"]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 g-mb-30 g-mb-0--lg">
                                <div class="media">
                                    <div class="d-flex mr-4">
                                        <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">@localizer["FragileItemPolicyFive"]</span>
                                    </div>
                                    <div class="media-body">
                                        <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">@localizer["FragileItemPolicyFiveTitle"]</h3>
                                        <p class="mb-0">@localizer["FragileItemPolicyFiveContent"]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="media">
                                    <div class="d-flex mr-4">
                                        <span class="d-block g-font-size-30 g-font-weight-700 g-line-height-1 g-color-primary">@localizer["FragileItemPolicySix"]</span>
                                    </div>
                                    <div class="media-body">
                                        <h3 class="h5 text-uppercase g-font-weight-700 g-mb-15">@localizer["FragileItemPolicySixTitle"]</h3>
                                        <p class="mb-0">@localizer["FragileItemPolicySixContent"]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Content -->
    <!-- Section Content -->
    <section id="offers" class="g-theme-bg-gray-light-v1 g-py-100">
        <div class="container text-center g-width-760 u-heading-v2-2--bottom g-brd-primary g-mb-70">
            <h2 class="text-uppercase g-line-height-1_1 g-font-weight-700 g-font-size-26 g-mb-15">@localizer["BestOffers"]</h2>
            <p class="mb-0">@localizer["BestOffersContent"]</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 g-mb-30">
                    <!-- Article -->
                    <article class="text-center u-block-hover u-block-hover__additional--jump g-color-gray-dark-v3 g-bg-white">
                        <!-- Article Image -->
                        <img class="w-100" src="css/shipping/img-temp/600x400/img3.jpg" alt="Image description">
                        <!-- End Article Image -->
                        <!-- Article Content -->
                        <div class="g-py-40 g-px-30">
                            <h4 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-black g-mb-15">@localizer["Small"]</h4>
                            <em class="d-block g-font-style-normal g-color-gray-dark-v3 g-mb-35">@localizer["SmallDimensions"]</em>
                            <strong class="d-block g-font-size-30 g-color-gray-dark-v3 g-mb-30">@localizer["SmallDefaultValue"]</strong>
                            <ul class="list-unstyled text-uppercase g-mb-30">
                                <li class="g-mb-9">@localizer["SmallOfferBullet1"]</li>
                                <li class="g-mb-9">@localizer["SmallOfferBullet2"]</li>
                                <li class="g-mb-9">@localizer["SmallOfferBullet3"]</li>
                                <li class="g-mb-9">@localizer["SmallOfferBullet4"]</li>
                                <li class="g-mb-9">@localizer["SmallOfferBullet5"]</li>
                                <li class="g-mb-9">@localizer["SmallOfferBullet6"]</li>
                            </ul>
                            <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-brd-none g-rounded-4 g-py-12 g-px-15" href="#">@localizer["OrderNow"]</a>
                        </div>
                        <!-- End Article Content -->
                    </article>
                    <!-- End Article -->
                </div>
                <div class="col-lg-3 col-sm-6 g-mb-30">
                    <!-- Article -->
                    <article class="text-center u-block-hover u-block-hover__additional--jump g-color-gray-dark-v3 g-bg-white">
                        <!-- Article Image -->
                        <img class="w-100" src="css/shipping/img-temp/600x400/img4.jpg" alt="Image description">
                        <!-- End Article Image -->
                        <!-- Article Content -->
                        <div class="g-py-40 g-px-30">
                            <h4 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-black g-mb-15">@localizer["Medium"]</h4>
                            <em class="d-block g-font-style-normal g-color-gray-dark-v3 g-mb-35">@localizer["MediumDimensions"]</em>
                            <strong class="d-block g-font-size-30 g-color-gray-dark-v3 g-mb-30">@localizer["MediumDefaultValue"]</strong>
                            <ul class="list-unstyled text-uppercase g-mb-30">
                                <li class="g-mb-9">@localizer["MediumOfferBullet1"]</li>
                                <li class="g-mb-9">@localizer["MediumOfferBullet2"]</li>
                                <li class="g-mb-9">@localizer["MediumOfferBullet3"]</li>
                                <li class="g-mb-9">@localizer["MediumOfferBullet4"]</li>
                                <li class="g-mb-9">@localizer["MediumOfferBullet5"]</li>
                                <li class="g-mb-9">@localizer["MediumOfferBullet6"]</li>
                            </ul>
                            <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-brd-none g-rounded-4 g-py-12 g-px-15" href="#">@localizer["OrderNow"]</a>
                        </div>
                        <!-- End Article Content -->
                    </article>
                    <!-- End Article -->
                </div>
                <div class="col-lg-3 col-sm-6 g-mb-30 g-mb-0--md">
                    <!-- Article -->
                    <article class="text-center u-block-hover u-block-hover__additional--jump g-color-gray-dark-v3 g-bg-white">
                        <!-- Article Image -->
                        <img class="w-100" src="css/shipping/img-temp/600x400/img5.jpg" alt="Image description">
                        <!-- End Article Image -->
                        <!-- Article Content -->
                        <div class="g-py-40 g-px-30">
                            <h4 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-black g-mb-15">@localizer["Large"]</h4>
                            <em class="d-block g-font-style-normal g-color-gray-dark-v3 g-mb-35">@localizer["LargeDimensions"]</em>
                            <strong class="d-block g-font-size-30 g-color-gray-dark-v3 g-mb-30">@localizer["LargeDefaultValue"]</strong>
                            <ul class="list-unstyled text-uppercase g-mb-30">
                                <li class="g-mb-9">@localizer["LargeOfferBullet1"]</li>
                                <li class="g-mb-9">@localizer["LargeOfferBullet2"]</li>
                                <li class="g-mb-9">@localizer["LargeOfferBullet3"]</li>
                                <li class="g-mb-9">@localizer["LargeOfferBullet4"]</li>
                                <li class="g-mb-9">@localizer["LargeOfferBullet5"]</li>
                                <li class="g-mb-9">@localizer["LargeOfferBullet6"]</li>
                            </ul>
                            <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-brd-none g-rounded-4 g-py-12 g-px-15" href="#">@localizer["OrderNow"]</a>
                        </div>
                        <!-- End Article Content -->
                    </article>
                    <!-- End Article -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <!-- Article -->
                    <article class="text-center u-block-hover u-block-hover__additional--jump g-color-gray-dark-v3 g-bg-white">
                        <!-- Article Image -->
                        <img class="w-100" src="css/shipping/img-temp/600x400/img6.jpg" alt="Image description">
                        <!-- End Article Image -->
                        <!-- Article Content -->
                        <div class="g-py-40 g-px-30">
                            <h4 class="text-uppercase g-font-weight-700 g-font-size-16 g-color-black g-mb-15">@localizer["ExtraLarge"]</h4>
                            <em class="d-block g-font-style-normal g-color-gray-dark-v3 g-mb-35">@localizer["ExtraDimensions"]</em>
                            <strong class="d-block g-font-size-30 g-color-gray-dark-v3 g-mb-30">@localizer["ExtraDefaultValue"]</strong>
                            <ul class="list-unstyled text-uppercase g-mb-30">
                                <li class="g-mb-9">@localizer["ExtraLargeOfferBullet1"]</li>
                                <li class="g-mb-9">@localizer["ExtraLargeOfferBullet2"]</li>
                                <li class="g-mb-9">@localizer["ExtraLargeOfferBullet3"]</li>
                                <li class="g-mb-9">@localizer["ExtraLargeOfferBullet4"]</li>
                                <li class="g-mb-9">@localizer["ExtraLargeOfferBullet5"]</li>
                                <li class="g-mb-9">@localizer["ExtraLargeOfferBullet6"]</li>
                            </ul>
                            <a class="btn btn-md text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-brd-none g-rounded-4 g-py-12 g-px-15" href="#">@localizer["OrderNow"]</a>
                        </div>
                        <!-- End Article Content -->
                    </article>
                    <!-- End Article -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Content -->
    @*<section id="gallery" class="g-pt-90">
            <div class="container text-center g-width-760 u-heading-v2-2--bottom g-brd-primary g-mb-70">
                <h2 class="text-uppercase g-line-height-1_1 g-font-weight-700 g-font-size-26 g-mb-15">Gallery</h2>
                <p class="mb-0">Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, Etiam rhoncus. Maecenas tempus.</p>
            </div>
             Cube Portfolio
            <div class="cbp"
                 data-layout="grid"
                 data-animation="slideLeft"
                 data-caption-animation="zoom"
                 data-x-gap="0"
                 data-y-gap="0"
                 data-media-queries='[
                       {"width": 800, "cols": 3},
                       {"width": 480, "cols": 2},
                       {"width": 320, "cols": 1}
                     ]'>
                <div class="cbp-item">
                    <a class="cbp-caption cbp-lightbox" href="css/shipping/img-temp/1732x1155/img3.jpg"
                       data-title="Design Object">
                        <div class="cbp-caption-defaultWrap">
                            <img src="css/shipping/img-temp/600x400/img7.jpg" alt="Image description">
                        </div>
                    </a>
                </div>
                <div class="cbp-item">
                    <a class="cbp-caption cbp-lightbox" href="css/shipping/img-temp/1732x1155/img4.jpg"
                       data-title="Design Object">
                        <div class="cbp-caption-defaultWrap">
                            <img src="css/shipping/img-temp/600x400/img8.jpg" alt="Image description">
                        </div>
                    </a>
                </div>
                <div class="cbp-item">
                    <a class="cbp-caption cbp-lightbox" href="css/shipping/img-temp/1732x1155/img5.jpg"
                       data-title="Design Object">
                        <div class="cbp-caption-defaultWrap">
                            <img src="css/shipping/img-temp/600x400/img9.jpg" alt="Image description">
                        </div>
                    </a>
                </div>
                <div class="cbp-item">
                    <a class="cbp-caption cbp-lightbox" href="css/shipping/img-temp/1732x1155/img6.jpg"
                       data-title="Design Object">
                        <div class="cbp-caption-defaultWrap">
                            <img src="css/shipping/img-temp/600x400/img10.jpg" alt="Image description">
                        </div>
                    </a>
                </div>
                <div class="cbp-item">
                    <a class="cbp-caption cbp-lightbox" href="css/shipping/img-temp/1732x1155/img7.jpg"
                       data-title="Design Object">
                        <div class="cbp-caption-defaultWrap">
                            <img src="css/shipping/img-temp/600x400/img11.jpg" alt="Image description">
                        </div>
                    </a>
                </div>
                <div class="cbp-item">
                    <a class="cbp-caption cbp-lightbox" href="css/shipping/img-temp/1732x1155/img8.jpg"
                       data-title="Design Object">
                        <div class="cbp-caption-defaultWrap">
                            <img src="css/shipping/img-temp/600x400/img12.jpg" alt="Image description">
                        </div>
                    </a>
                </div>
            </div>
        </section>*@
    <!-- Section Content -->
    <section id="FAQ" class="g-theme-bg-gray-light-v1 g-pt-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 d-flex align-items-center g-order-2--lg g-mb-50 g-mb-0--lg">
                    <div class="w-100">
                        <div class="u-heading-v2-2--bottom g-brd-primary g-mb-50">
                            <h2 class="text-uppercase g-line-height-1_1 g-font-weight-700 g-font-size-26 g-mb-15">@localizer["FAQ"]</h2>
                            <p class="mb-0">@localizer["FAQTitle"]</p>
                        </div>
                        <div id="FAQAccordion">
                            <div class="card g-brd-none">
                                <div id="FAQAccordionHeading1" class="card-header u-accordion__header g-pos-rel g-bg-transparent g-brd-none rounded-0 g-py-10 g-px-30">
                                    <a class="g-font-weight-700 g-font-size-18" href="#FAQAccordionBody1" aria-expanded="true" aria-controls="FAQAccordionBody1"
                                       data-toggle="collapse"
                                       data-parent="#FAQAccordion">
                                        <span class="u-accordion__control-icon g-absolute-centered--y g-left-0 g-color-primary">
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-minus"></i>
                                        </span>
                                        @localizer["FAQAccordion1Title"]
                                    </a>
                                </div>
                                <div id="FAQAccordionBody1" class="collapse show" aria-labelledby="FAQAccordionHeading1">
                                    <div class="card-block u-accordion__body g-py-10 g-px-30">
                                        <p class="g-line-height-1_5 mb-0">@localizer["FAQAccordion1Content"]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card g-brd-none">
                                <div id="FAQAccordionHeading2" class="card-header u-accordion__header g-pos-rel g-bg-transparent g-brd-none rounded-0 g-py-10 g-px-30">
                                    <a class="g-font-weight-700 g-font-size-18 collapsed" href="#FAQAccordionBody2" aria-expanded="false" aria-controls="FAQAccordionBody2"
                                       data-toggle="collapse"
                                       data-parent="#FAQAccordion">
                                        <span class="u-accordion__control-icon g-absolute-centered--y g-left-0 g-color-primary">
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-minus"></i>
                                        </span>
                                        @localizer["FAQAccordion2Title"]
                                    </a>
                                </div>
                                <div id="FAQAccordionBody2" class="collapse" aria-labelledby="FAQAccordionHeading2">
                                    <div class="card-block u-accordion__body g-py-10 g-px-30">
                                        <p class="g-line-height-1_5 mb-0">@localizer["FAQAccordion2Content"]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card g-brd-none">
                                <div id="FAQAccordionHeading3" class="card-header u-accordion__header g-pos-rel g-bg-transparent g-brd-none rounded-0 g-py-10 g-px-30">
                                    <a class="g-font-weight-700 g-font-size-18 collapsed" href="#FAQAccordionBody3" aria-expanded="false" aria-controls="FAQAccordionBody3"
                                       data-toggle="collapse"
                                       data-parent="#FAQAccordion">
                                        <span class="u-accordion__control-icon g-absolute-centered--y g-left-0 g-color-primary">
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-minus"></i>
                                        </span>
                                        @localizer["FAQAccordion3Title"]
                                    </a>
                                </div>
                                <div id="FAQAccordionBody3" class="collapse" aria-labelledby="FAQAccordionHeading3">
                                    <div class="card-block u-accordion__body g-py-10 g-px-30">
                                        <p class="g-line-height-1_5 mb-0">@localizer["FAQAccordion3Content"]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card g-brd-none">
                                <div id="FAQAccordionHeading4" class="card-header u-accordion__header g-pos-rel g-bg-transparent g-brd-none rounded-0 g-py-10 g-px-30">
                                    <a class="g-font-weight-700 g-font-size-18 collapsed" href="#FAQAccordionBody4" aria-expanded="false" aria-controls="FAQAccordionBody4"
                                       data-toggle="collapse"
                                       data-parent="#FAQAccordion">
                                        <span class="u-accordion__control-icon g-absolute-centered--y g-left-0 g-color-primary">
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-minus"></i>
                                        </span>
                                        @localizer["FAQAccordion4Title"]
                                    </a>
                                </div>
                                <div id="FAQAccordionBody4" class="collapse" aria-labelledby="FAQAccordionHeading4">
                                    <div class="card-block u-accordion__body g-py-10 g-px-30">
                                        <p class="g-line-height-1_5 mb-0">@localizer["FAQAccordion4Content"]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card g-brd-none">
                                <div id="FAQAccordionHeading5" class="card-header u-accordion__header g-pos-rel g-bg-transparent g-brd-none rounded-0 g-py-10 g-px-30">
                                    <a class="g-font-weight-700 g-font-size-18 collapsed" href="#FAQAccordionBody5" aria-expanded="false" aria-controls="FAQAccordionBody5"
                                       data-toggle="collapse"
                                       data-parent="#FAQAccordion">
                                        <span class="u-accordion__control-icon g-absolute-centered--y g-left-0 g-color-primary">
                                            <i class="fa fa-plus"></i>
                                            <i class="fa fa-minus"></i>
                                        </span>
                                        @localizer["FAQAccordion5Title"]
                                    </a>
                                </div>
                                <div id="FAQAccordionBody5" class="collapse" aria-labelledby="FAQAccordionHeading5">
                                    <div class="card-block u-accordion__body g-py-10 g-px-30">
                                        <p class="g-line-height-1_5 mb-0">@localizer["FAQAccordion5Content"]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center g-order-1--lg">
                    <img class="img-fluid" src="css/shipping/img-temp/348x660/img1.png" alt="Image description">
                </div>
            </div>
        </div>
    </section>
    <!-- End Section Content -->
    <!-- Section Content -->
    @*<section id="testimonials">
            <div class="u-bg-overlay g-bg-img-hero g-bg-black-opacity-0_5--after g-py-90" style="background-image: url(css/shipping/img-temp/1920x1280/img1.jpg);">
                <div class="container u-bg-overlay__inner g-width-760">
                    <div class="text-center mx-auto u-heading-v2-2--bottom g-brd-primary g-mb-70">
                        <h2 class="text-uppercase g-line-height-1_1 g-font-weight-700 g-font-size-26 g-color-white g-mb-15">What do people say about us?</h2>
                        <p class="g-color-white-opacity-0_8 mb-0">Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Nam eget dui. Etiam rhoncus. ullamcorper ultricies nisi, ullamcorper ultricies nisi</p>
                    </div>
                </div>
                <div class="container u-bg-overlay__inner g-width-900">
                    <div class="js-carousel g-pb-70"
                         data-infinite="true"
                         data-arrows-classes="u-arrow-v1 g-absolute-centered--x g-bottom-0 g-width-40 g-height-40 g-rounded-50x g-font-size-default g-theme-color-gray-light-v2 g-color-white--hover g-bg-white g-bg-primary--hover g-transition-0_2 g-transition--ease-in"
                         data-arrow-left-classes="fa fa-angle-left g-ml-minus-30"
                         data-arrow-right-classes="fa fa-angle-right g-ml-30">
                        <div class="js-slide">
                            <!-- Testimonial Block -->
                            <div class="media d-block d-md-flex">
                                <div class="g-mb-30 g-mb-0--md g-pr-30--sm">
                                    <img class="img-fluid rounded-circle img-bordered g-brd-white mx-auto" src="css/shipping/img-temp/120x120/img1.jpg" alt="Image description">
                                </div>
                                <div class="media-body align-self-center text-sm-left text-center g-color-white">
                                    <blockquote class="g-mb-25">The customisation options you implemented are countless, and I feel sorry I can't use them all. Good job, and keep going! are countless, and I feel</blockquote>
                                    <h4 class="h6 text-uppercase g-font-weight-700 g-color-white mb-0">Someone someone</h4>
                                </div>
                            </div>
                            <!-- End Testimonial Block -->
                        </div>
                        <div class="js-slide">
                            <!-- Testimonial Block -->
                            <div class="media d-block d-md-flex">
                                <div class="g-mb-30 g-mb-0--md g-pr-30--sm">
                                    <img class="img-fluid rounded-circle img-bordered g-brd-white mx-auto" src="css/shipping/img-temp/120x120/img2.jpg" alt="Image Description">
                                </div>
                                <div class="media-body align-self-center text-center text-sm-left g-color-white">
                                    <blockquote class="g-mb-25">The customisation options you implemented are countless, and I feel sorry I can't use them all. Good job, and keep going! are countless, and I feel</blockquote>
                                    <h4 class="h6 text-uppercase g-font-weight-700 g-color-white mb-0">Someone someone</h4>
                                </div>
                            </div>
                            <!-- End Testimonial Block -->
                        </div>
                        <div class="js-slide">
                            <!-- Testimonial Block -->
                            <div class="media d-block d-md-flex">
                                <div class="g-mb-30 g-mb-0--md g-pr-30--sm">
                                    <img class="img-fluid rounded-circle img-bordered g-brd-white mx-auto" src="css/shipping/img-temp/120x120/img3.jpg" alt="Image Description">
                                </div>
                                <div class="media-body align-self-center text-center text-sm-left g-color-white">
                                    <blockquote class="g-mb-25">The customisation options you implemented are countless, and I feel sorry I can't use them all. Good job, and keep going! are countless, and I feel</blockquote>
                                    <h4 class="h6 text-uppercase g-font-weight-700 g-color-white mb-0">Someone someone</h4>
                                </div>
                            </div>
                            <!-- End Testimonial Block -->
                        </div>
                    </div>
                </div>
            </div>
            <div id="carouselCus1" class="js-carousel g-brd-bottom g-brd-gray-light-v4"
                 data-autoplay="true"
                 data-slides-show="7">
                <div class="js-slide g-brd-left g-brd-gray-light-v4 g-py-50">
                    <img class="mx-auto g-width-120" src="css/shipping/img-temp/250x200/img1.png" alt="Image description">
                </div>
                <div class="js-slide g-brd-left g-brd-gray-light-v4 g-py-50">
                    <img class="mx-auto g-width-120" src="css/shipping/img-temp/250x200/img2.png" alt="Image description">
                </div>
                <div class="js-slide g-brd-left g-brd-gray-light-v4 g-py-50">
                    <img class="mx-auto g-width-120" src="css/shipping/img-temp/250x200/img3.png" alt="Image description">
                </div>
                <div class="js-slide g-brd-left g-brd-gray-light-v4 g-py-50">
                    <img class="mx-auto g-width-120" src="css/shipping/img-temp/250x200/img4.png" alt="Image description">
                </div>
                <div class="js-slide g-brd-left g-brd-gray-light-v4 g-py-50">
                    <img class="mx-auto g-width-120" src="css/shipping/img-temp/250x200/img8.png" alt="ImagedDescription">
                </div>
                <div class="js-slide g-brd-left g-brd-gray-light-v4 g-py-50">
                    <img class="mx-auto g-width-120" src="css/shipping/img-temp/250x200/img9.png" alt="ImagedDescription">
                </div>
                <div class="js-slide g-brd-left g-brd-gray-light-v4 g-py-50">
                    <img class="mx-auto g-width-120" src="css/shipping/img-temp/250x200/img5.png" alt="Image description">
                </div>
                <div class="js-slide g-brd-left g-brd-gray-light-v4 g-py-50">
                    <img class="mx-auto g-width-120" src="css/shipping/img-temp/250x200/img6.png" alt="Image description">
                </div>
                <div class="js-slide g-brd-left g-brd-gray-light-v4 g-py-50">
                    <img class="mx-auto g-width-120" src="css/shipping/img-temp/250x200/img7.png" alt="Image description">
                </div>
            </div>
        </section>*@
    <!-- End Section Content -->
    <!-- Section Content -->
    <section id="contact" class="g-pt-80">
        <div class="container text-center g-width-760 u-heading-v2-2--bottom g-brd-primary g-mb-70">
            <h2 class="text-uppercase g-line-height-1_1 g-font-weight-700 g-font-size-26 g-mb-15">@localizer["ContactUs"]</h2>
            <p class="mb-0">@localizer["ContactUsTitle"]</p>
        </div>
        <!-- Google Map -->
        <div id="gMap" class="js-g-map g-min-height-500 h-100"
             data-type="custom"
             data-lat="40.674"
             data-lng="-73.946"
             data-zoom="12"
             data-title="Travel"
             data-styles='[
               ["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]],
               ["", "labels", [{"visibility":"on"}]],
               ["water", "", [{"color":"#cccccc"}]]
             ]'
             data-pin="true"
             data-pin-icon="assets/img/pin.png">
        </div>
        <!-- End Google Map -->
        <div class="container g-py-80">
            <div class="row">
                <div class="col-lg-4 text-uppercase">
                    <h3 class="h5 g-font-weight-600 g-color-gray-dark-v2 g-mb-20">@localizer["WhereToMeet"]</h3>
                    <p class="g-font-size-12 g-mb-40">@localizer["WhereToMeetTitle"]</p>
                    <h3 class="h5 g-font-weight-600 g-color-gray-dark-v2 g-mb-20">@localizer["SayHello"]</h3>
                    <address class="g-font-size-12">
                        <p>@localizer["PhoneNumber"] <strong class="g-color-gray-dark-v2">+48 555 2566 112</strong></p>
                        <p>
                            @localizer["Email"]
                            <a class="g-color-gray-dark-v2" href="mailto:info@unify.com"><strong>@localizer["ContactEmailStatic"]</strong></a>
                        </p>
                    </address>
                </div>
                <div class="col-lg-8">
                    <form>
                        <div class="row">
                            <div class="col-lg-12 form-group g-mb-20">
                                <input class="form-control g-font-size-default g-color-gray-dark-v5 g-placeholder-inherit g-bg-gray-light-v5 g-brd-gray-light-v5 g-brd-primary--focus g-color-gray-dark-v5 g-rounded-4 g-px-12" type="text" placeholder="@localizer["YourName"]">
                            </div>
                            <div class="col-lg-12 form-group g-mb-20">
                                <input class="form-control g-font-size-default g-color-gray-dark-v5 g-placeholder-inherit g-bg-gray-light-v5 g-brd-gray-light-v5 g-brd-primary--focus g-color-gray-dark-v5 g-rounded-4 g-px-12" type="tel" placeholder="@localizer["YourEmail"]">
                            </div>
                            <div class="col-lg-12 form-group g-mb-20">
                                <textarea class="form-control g-font-size-default g-color-gray-dark-v5 g-placeholder-inherit g-resize-none g-bg-gray-light-v5 g-brd-gray-light-v5 g-brd-primary--focus g-color-gray-dark-v5 g-rounded-4 g-px-12" rows="5" placeholder="@localizer["Message"]"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-md btn-block text-uppercase u-btn-primary g-font-weight-700 g-font-size-12 g-brd-none g-rounded-4 g-es-py-12 g-px-15" type="submit" role="button">@localizer["Submit"]</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- End Section Content -->
<hr />

<!-- End Footer -->
<a class="js-go-to u-go-to-v1" href="#"
   data-type="fixed"
   data-position='{
           "bottom": 15,
           "right": 15
         }'
   data-offset-top="400"
   data-compensation="#js-header"
   data-show-effect="zoomIn">
    <i class="hs-icon hs-icon-arrow-top"></i>
</a>

<!-- JS Global Compulsory -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/jquery-migrate/jquery-migrate.min.js"></script>
<script src="vendor/jquery.easing/js/jquery.easing.js"></script>
<script src="vendor/popper.min.js"></script>
<script src="vendor/bootstrap/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="vendor/appear.js"></script>
<script src="vendor/chosen/chosen.jquery.js"></script>
<script src="vendor/image-select/src/ImageSelect.jquery.js"></script>
<script src="vendor/circles/circles.min.js"></script>
<script src="vendor/slick-carousel/slick/slick.js"></script>
<script src="vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
<script src="vendor/gmaps/gmaps.min.js"></script>

<!-- JS Unify -->
<script src="js/hs.core.js"></script>
<script src="js/components/hs.header.js"></script>
<script src="js/helpers/hs.hamburgers.js"></script>
<script src="js/components/hs.scroll-nav.js"></script>
<script src="js/components/hs.select.js"></script>
<script src="js/components/hs.chart-pie.js"></script>
<script src="js/components/hs.carousel.js"></script>
<script src="js/components/hs.cubeportfolio.js"></script>
<script src="js/components/gmap/hs.map.js"></script>
<script src="js/components/hs.go-to.js"></script>

<!-- JS Customization -->
<script src="js/custom.js"></script>

<script src="~/js/pluggins/magicSuggest/magicsuggest.js"></script>
<script src="~/js/app/index.js"></script>
<!-- JS Plugins Init. -->
<script type="text/javascript">
        esend.index.params = {
            searchCitiesUrl: "@Url.Action("GetCities", "Parameter")",
        };
        @*athena.addCandidacy.params = {
            insertErrorTitle: "@Html.GetResource(common, "InsertErrorTitle")",
            nullCommunicationTypeErrorMsg: "@Html.GetResource(ac, "NullCommunicationTypeErrorMsg")",
            nullTownErrorMsg: "@Html.GetResource(ac, "NullTownErrorMsg")",
            addCandidacySuccessMsg: "@Html.GetResource(ac, "AddCandidacySuccessMsg")",
            addCandidacySuccessTitle: "@Html.GetResource(ac, "AddCandidacySuccessTitle")",
            openCandidacyUrl: "@Url.Action("ManageCandidacy", "Candidate", new {id = "rowId"})"
        };*@
</script>

<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAtt1z99GtrHZt_IcnK-wryNsQ30A112J0&callback=initMap" async></script>