﻿@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div class="container body-content">
    <div>
        <p>
            Thank you for confirming your email.
        </p>
    </div>
</div>

