﻿@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2>@ViewData["Title"]</h2>
<div class="container body-content">
    <p>
        Please check your email to reset your password.
    </p>
</div>