﻿@{
    ViewData["Title"] = "Locked out";
}
<div class="container body-content">
    <header>
        <h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </header>
</div>