﻿@using Microsoft.AspNetCore.Mvc.Localization
@model RegisterViewModel

@inject IViewLocalizer localizer
@{
    ViewData["Title"] = localizer["Register"];
}


<div class="container">
    <h2>@localizer["Register"]</h2>
    <div class="row">   
        <div class="col-md-6">
            @Html.Partial("RegisterPrivatePartial", new RegisterViewModelPrivate())
        </div>
        <div class="col-md-6">
            @Html.Partial("RegisterBussinessPartial", new RegisterViewModelBussiness())
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
