﻿@using esend.Models.Enumerators
@using Microsoft.AspNetCore.Mvc.Localization
@model RegisterViewModelBussiness

@inject IViewLocalizer localizer
<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <h4>@localizer["CreateBussinessAccountTitle"]</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-md-12">
        @Html.HiddenFor(m => m.UserType, UserType.BUSINESS)
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="BirthDate"></label>
                <input asp-for="BirthDate" class="form-control"/>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="BussinessTitle"></label>
                <input asp-for="BussinessTitle" class="form-control"/>
                <span asp-validation-for="BussinessTitle" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="TaxNumber"></label>
                <input asp-for="TaxNumber" class="form-control"/>
                <span asp-validation-for="TaxNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="TaxOffice"></label>
                <input asp-for="TaxOffice" class="form-control"/>
                <span asp-validation-for="TaxOffice" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="CellPhoneNumber"></label>
                <input asp-for="CellPhoneNumber" class="form-control"/>
                <span asp-validation-for="CellPhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Town"></label>
                <input asp-for="Town" class="form-control"/>
                <span asp-validation-for="Town" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="ZipCode"></label>
                <input asp-for="ZipCode" class="form-control"/>
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="Floor"></label>
                <input asp-for="Floor" class="form-control"/>
                <span asp-validation-for="Floor" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@localizer["Register"]</button>
            </div>
        </div>
    </div>
</form>
