﻿@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2>@ViewData["Title"]</h2>
<div class="container body-content">
    <p>
        Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
    </p>
</div>