﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.g-py-12 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.g-es-py-12 {
    padding-top: 0.85714rem !important;
    padding-bottom: 0.85714rem !important;
}

/*Hide the toggler of the page menu in width bigger than 767 px*/
@media screen and (min-width: 767px) {
    /* Hide captions */
    .navbar-toggler {
        display: none !important;
    }
}